{% extends "base.html" %}
{% load static %}

{% block script %}
<script src= "{% static 'scripts/scripts_all_events.js' %}"></script>
<script src= "{% static 'scripts/scripts_events_attendee.js' %}"></script>
{% endblock %}



{% block content%}

<div class="top_bar">
    {% if request.GET.location %}
<span>Rechercher les évenements pour le site {{ request.GET.location }}</span>
{%else%}
<span>Rechercher les évenements</span>
{% endif %}

<!--    <label for="date_from">entre</label>-->
    entre le
    <input id="date_from" type="date">
    et le
<!--    <label for="date_to">et</label>-->
    <input id="date_to" type="date">
    <span class="sub_nav_item"><img src="{% static 'images/arrow.svg' %}" alt="Les Restos du Cœur"><a href="" id="form_search_dates">Search</a></span>

</div>

<!--<h1>Tous les évenements</h1>-->

{% include "events_loop.html" %}


{% endblock %}