{% extends "base.html" %}
{% load static %}

{% block script %}
<script src= "{% static 'scripts/scripts_benevoles.js' %}"></script>
{% endblock %}

{% block content %}

<h4>Liste des bénévoles du site</h4>

<p>Total des bénévoles (actif, en attente) : {{ users.count }}</p>

<!--<p>En tant qu'administrateur, vous pouvez gérer tous les utilisateurs, même ceux pour lesquels vous n'êtes pas directement associé au site de l'utilisateur</p>-->

        <table class='table1'>
            <thead>
                <tr>
                    <th class='table_heading'></th>
                    <th class='table_heading'>Prénom</th>
                    <th class='table_heading'>Nom</th>
                    <th class='table_heading'>Nom d'utilisateur</th>
                    <th class='table_heading'>Email</th>
                    <th class='table_heading'>Téléphone</th>
                    <th class='table_heading'>Dernière connexion</th>
                    <th class='table_heading'>Site(s)</th>
                </tr>
            </thead>
            <tbody>
            {% for j in users%}
                <tr>
                    <td class='table_cell'>{% if j.profile_picture %}
                        <img src="{{j.profile_picture.url}}">
                        {% endif %}</td>
                    <td class='table_cell'>{{j.first_name}}</td>
                    <td class='table_cell'>{{j.last_name}}</td>
                    <td class='table_cell'>{{j.username}}</td>
                    <td class='table_cell'>{{j.email}}</td>
                    <td class='table_cell'>{{j.tel}}</td>
                    <td class='table_cell'>{{j.last_login}}</td>
                    <td class='table_cell'>
                        {% for i in status_users_location %}
                            {% if i.user == j%}
                        <p><a href="{% url 'users_site' location_id=i.location.pk %}">{{i.location}}</a> ({{i.get_status_display}})</p>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>



<h4>Télecharger tous les membres</h4>
<button class=""><a href="{% url 'download_users_csv' %}">Download</a></button>

<!--{% for j in users%}-->
<!--<h4>{{j}} &#45;&#45; {{ j.user_type }}</h4>-->

<!--{% for i in status_users_location %}-->
<!--{% if i.user == j%}-->
<!--    <div>-->
<!--    {{i.user}} &#45;&#45; {{i.get_status_display}} &#45;&#45;&#45;&#45; {{i.pk}} &#45;&#45;&#45;&#45; {{ i.location }} &#45;&#45; {{ i.user.last_login }}-->

<!--    {% if i.status != 2 %}-->
<!--    <form method="POST" action="{% url 'users_site' location_id=i.location.pk %}?id={{i.pk}}">-->
<!--        {% csrf_token %}-->
<!--        <button class="button_active_status">Activer</button>-->
<!--    </form>-->
<!--    {% endif %}-->

<!--    <button class="button_form_status" data-user="{{i.user.pk}}{{i.location.pk}}">Autre statut</button>-->

<!--    <div>-->
<!--        <form class="form_status" data-user="{{i.user.pk}}{{i.location.pk}}" method="POST" action="{% url 'user_site_update_status' location_id=i.location.pk %}?id={{i.pk}}">-->
<!--            {% csrf_token %}-->
<!--            {{form}}-->
<!--            <input type='submit' value="Confirmer" class='input'/>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
<!--{% endif%}-->
<!--{% endfor %}-->


<!--{% endfor %}-->

<!--{% include "benevoles_loop.html" %}-->


{% endblock %}