{% extends "base.html" %}
{% load static %}

{% block script %}
<script src= "{% static 'scripts/scripts_benevoles.js' %}"></script>
{% endblock %}

{% block content %}


<h4>Liste des bénévoles du site</h4>

<p>Total des bénévoles (actif, en attente) pour le site: {{ status_users_location.count }}</p>


 <table class='table1'>
            <thead>
                <tr>
                    <th class='table_heading'></th>
                    <th class='table_heading'>Prénom</th>
                    <th class='table_heading'>Nom</th>
                    <th class='table_heading'>Nom d'utilisateur</th>
                    <th class='table_heading'>Email</th>
                    <th class='table_heading'>Téléphone</th>
                    <th class='table_heading'>Dernière connexion</th>
                    <th class='table_heading'>Statut</th>
                    <th class='table_heading'>Mise à jour du statut</th>
                </tr>
            </thead>
            <tbody>
            {% for j in status_users_location%}
                <tr>
                    <td class='table_cell'>{% if j.user.profile_picture %}
                        <img src="{{j.user.profile_picture.url}}">
                        {% endif %}</td>
                    <td class='table_cell'>{{j.user.first_name|default_if_none:""}}</td>
                    <td class='table_cell'>{{j.user.last_name|default_if_none:""}}</td>
                    <td class='table_cell'>{{j.user.username}}</td>
                    <td class='table_cell'>{{j.user.email|default_if_none:""}}</td>
                    <td class='table_cell'>{{j.user.tel|default_if_none:""}}</td>
                    <td class='table_cell'>{{j.user.last_login|date:'Y-m-d H:i:s'}}</td>
                    <td class='table_cell'><span class="user_status" data-user="{{j.user.pk}}{{j.location.pk}}" >{{j.get_status_display|default_if_none:""}}</span>

                    <div class="form_status" data-user="{{j.user.pk}}{{j.location.pk}}" >
                            <form method="POST" action="{% url 'user_site_update_status' location_id=j.location.pk %}?id={{j.pk}}">
                                {% csrf_token %}
                                {{form.status}}
                                <button class="validate_user_status" title="Mettre à jour l'utilisateur"><i class="fas fa-check-circle"></i></button>
                            </form>
                        </div>

                    </td>

                    <td class='table_cell'>
                        {% if j.status != 2 %}
                        <form method="POST" action="{% url 'users_site' location_id=j.location.pk %}?id={{j.pk}}">
                            {% csrf_token %}
                            <button class="validate_user_status" title="Activer l'utilisateur"><i class="fas fa-check-circle"></i></button>
                        </form>
                        <button class="button_form_status validate_user_status" title="Changer de statut pour l'utilisateur" data-user="{{j.user.pk}}{{j.location.pk}}" data-type="edit"><i class="far fa-edit"></i></button>
                        {% else %}
                        <button class="button_form_status validate_user_status" title="Changer de statut pour l'utilisateur" data-user="{{j.user.pk}}{{j.location.pk}}" data-type="edit"><i class="far fa-edit"></i></button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


<h4>Télecharger tous les membres du site</h4>
<a href="{% url 'download_users_csv' %}?site={{location_id}}"><button class="">Download</button></a>


{% endblock %}