{% extends "base.html" %}
{% load static %}

{% block script %}
<script src= "{% static 'scripts/scripts_benevoles.js' %}"></script>
{% endblock %}

{% block content %}

<p>Total des bénévoles pour ce site: {{ status_users_location.count }}</p>

{% for i in status_users_location %}
    <div>
    {{i.user}} -- {{i.get_status_display}} ---- {{i.pk}}

    {% if i.status != 2 %}
    <form method="POST" action="{% url 'users_site' location_id=i.location.pk %}?id={{i.pk}}">
        {% csrf_token %}
        <button class="button_active_status">Activer</button>
    </form>
    {% endif %}

    <button class="button_form_status" data-user="{{i.user.pk}}">Autre statut</button>

    <div>
        <form class="form_status" data-user="{{i.user.pk}}" method="POST" action="{% url 'user_site_update_status' location_id=i.location.pk %}?id={{i.pk}}">
            {% csrf_token %}
            {{form}}
            <input type='submit' value="Confirmer" class='input'/>
        </form>
    </div>
</div>
{% endfor %}




{% endblock %}