{% extends "base.html" %}
{% load static %}

{% block script %}
<script src= "{% static 'scripts/scripts_benevoles.js' %}"></script>
{% endblock %}

{% block content %}

<div class="top_bar_menu">

    <a href="{% url 'location_details' location_id=location_id %}">
    <div class="sub_nav_hor">
        <i class="fas fa-map-marker-alt"></i>Retour au site
    </div>
    </a>

    <div class="sub_nav_hor active">
        <i class="fas fa-users"></i>Bénévoles actifs
    </div>

    <a href="{% url 'download_users_csv' %}?site={{location_id}}">
        <div class="sub_nav_hor">
            <i class="fas fa-cloud-download-alt"></i>Exporter
        </div>
    </a>

</div>

<!--<h4>Liste des bénévoles du site</h4>-->

<div class="container_master_mobile">


<p>Total des bénévoles (actif, en attente) pour le site: {{ status_users_location.count }}</p>


 <table class='table1'>
            <thead>
                <tr>
                    <th class='table_heading'></th>
                    <th class='table_heading'>Prénom</th>
                    <th class='table_heading'>Nom</th>
                    <th class='table_heading'>Nom d'utilisateur</th>
                    <th class='table_heading'>Email</th>
                    <th class='table_heading'>Téléphone</th>
                    <th class='table_heading'>Dernière connexion</th>
                    <th class='table_heading'>Distributions(s)</th>
                </tr>
            </thead>
            <tbody>
            {% for j in status_users_location%}
                <tr>
                    <td class='table_cell'>{% if j.user.profile_picture %}
                        <img src="{{j.user.profile_picture.url}}">
                        {% endif %}</td>
                    <td class='table_cell'>{{j.user.first_name|default_if_none:""}}</td>
                    <td class='table_cell'>{{j.user.last_name|default_if_none:""}}</td>
                    <td class='table_cell'>{{j.user.username}}</td>
                    <td class='table_cell'>{{j.user.email|default_if_none:""}}</td>
                    <td class='table_cell'>{{j.user.tel|default_if_none:""}}</td>
                    <td class='table_cell'>{{j.user.last_login|date:'Y-m-d H:i:s'}}</td>
                    <td class='table_cell'><a href="{% url 'distrib_details' distrib_id=j.distrib.pk %}">{{j.distrib}}</a> ({{j.get_status_display|default_if_none:""}})</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>



</div>

{% endblock %}