{% extends "base.html" %}
{% load static %}

{% block script %}
<script src= "{% static 'scripts/scripts_event_attendee.js' %}"></script>
<script src= "{% static 'scripts/event_details.js' %}"></script>
{% endblock %}


{% block content %}


<div class="top_bar_menu">

    <div class="sub_nav_hor active" id="eventDetails_menu">
        <i class="fas fa-calendar-alt"></i>Détails de l'événement
    </div>

    <div class="sub_nav_hor" id="attendance_menu">
        <i class="fas fa-users"></i>Présences ({{count_attendees}})
    </div>

    {% if manager_location or request.user.user_type == 1 %}
        {% if event.is_recurring %}
        <a href="{% url 'event_edit' event_id=event.id %}?date={{date}}">
            <div class="sub_nav_hor">
                <i class="fas fa-edit"></i>Modifier l'évenement
            </div>
        </a>
        {% else %}
        <a href="{% url 'event_edit' event_id=event.id %}">
            <div class="sub_nav_hor">
                <i class="fas fa-edit"></i>Modifier l'évenement
            </div>
        </a>
        {% endif %}
    {% endif %}

</div>


<div class="container_master_mobile">


<div class="event_details_master" id="event_details">

  <div class="event_details">

    <div class="event_left">
        <h2>{{ event.name }}</h2>
        <p>{{ event.description }}</p>
    </div>


    <div class="event_right">

      <div class="event_right_subitem">
        <div class="event_right_subitem_box">
        <i class="far fa-calendar-alt"></i><span class="name_event_right_subitem">DATE</span>
            {% if event.is_recurring %}
            <p>{{ date }}</p>
            {% elif event.start_date != event.end_date and event.end_date is not none %}
            <p>du {{ event.start_date }} au {{ event.end_date }}</p>
            {% else %}
            <p>{{ event.start_date }}</p>
            {% endif %}
        </div>
      </div>

      <div class="event_right_subitem">
        <div class="event_right_subitem_box">
        <i class="far fa-clock"></i><span class="name_event_right_subitem">HEURE</span>
        <p>de {{ event.time_from }} à {{ event.time_to }}</p>
        </div>
      </div>

      <div class="event_right_subitem">
        <div class="event_right_subitem_box">
        <i class="fas fa-map-marker-alt"></i><span class="name_event_right_subitem">LIEU</span>
        <p><a href="{% url 'location_details' location_id=event.location.id %}">{{ event.location }}</a></p>
        <p>{{ event.location.address }} - {{ event.location.zipcode }} - {{ event.location.city }}</p>
        </div>
      </div>

      <div class="event_right_subitem_attend">
        {% now "Y-m-d" as todays_date %}
            {% if todays_date <= date %}

            {% if attendees %}
            <form>
              {% csrf_token %}
              <button class="button_attendees button_white" data-type="decline" type='submit' data-eventid="{{event.id}}" data-date="{{date}}"><i class="fas fa-check-square icon_attend"></i>Je serai là</button>
            </form>
            {% else %}
            <form>
              {% csrf_token %}
              <button class="button_attendees" data-type="attend" type='submit' data-eventid="{{event.id}}" data-date="{{date}}"><i class="far fa-square icon_attend"></i>Confirmer ma présence</button>
            </form>
            {% endif %}
            {% endif %}
      </div>

        {% if attendees and todays_date <= date  %}
      <div class="event_right_subitem_attend">
          <form>
            <label for="plus_other">Venez vous avez d'autres personnes? Entrez le nombre de personnes vous accompagnant</label>
            <input type="number" id="plus_other" name="plus_other" value="{{attendees.plus_other}}"  min="0" data-eventid="{{event.id}}" data-date="{{date}}">
        </form>
      </div>
        {% endif %}

      </div>

  </div>

    {% if event.was_recurring_event_rec %}
    <p class="info_text">Ceci est un événement provenant d'une récurrence mais modifié pour cette date specifiquement</p>
    {% elif not event.is_recurring %}
    <p class="info_text">Ceci est un événement non recurrent</p>
    {% else %}
    <p class="info_text">Cette date fait partie d'un événement recurrent</p>
    {% endif %}




{% if todays_date <= date %}
      {% if manager_location or request.user.user_type == 1 %}
    <div class="sub_nav">
        {% if event.is_recurring %}
        <div class="sub_nav_item">
            <span><img src="{% static 'images/arrow.svg' %}" alt="Les Restos du Cœur"><a href="{% url 'event_delete_rec' event_id=event.pk %}?date={{date}}">Annuler cette date</a></span>
        </div>
        <div class="sub_nav_item">
            <span><img src="{% static 'images/arrow.svg' %}" alt="Les Restos du Cœur"><a href="{% url 'event_delete_all' event_id=event.pk %}">Annuler toutes les dates</a></span>
        </div>
        {% else %}
        <div class="sub_nav_item">
            <span><img src="{% static 'images/arrow.svg' %}" alt="Les Restos du Cœur"><a href="{% url 'event_delete_all' event_id=event.pk %}">Annuler cette date</a></span>
        </div>
        {% endif %}
    </div>
        {% endif %}
{% endif %}



</div>



<div class="event_attendees_list" id="attendance">

    {% if all_attendees|length == 0 %}
    <p class="info_text">Aucune personne présente pour le moment</p>
    {% else %}

            <table class='table1'>
            <thead>
                <tr>
                    <th class='table_heading'>Prénom</th>
                    <th class='table_heading'>Nom</th>
                    <th class='table_heading'>Accompagné de</th>
                    {% if request.user.user_type != 2 %}
                    <th class='table_heading'>Nom d'utilisateur</th>
                    <th class='table_heading'>Email</th>
                    <th class='table_heading'>Téléphone</th>
                    <th class='table_heading'>Dernière connexion</th>
                    {% endif %}

                </tr>
            </thead>
            <tbody>
            {% for j in all_attendees %}
                <tr>
                    <td class='table_cell'>{{j.user.first_name|default_if_none:""}}</td>
                    <td class='table_cell'>{{j.user.last_name|default_if_none:""}}</td>
                    <td class='table_cell'>{{j.plus_other|default_if_none:""}} personne(s)</td>
                    {% if request.user.user_type != 2 %}
                    <td class='table_cell'>{{j.user.username}}</td>
                    <td class='table_cell'>{{j.user.email|default_if_none:""}}</td>
                    <td class='table_cell'>{{j.user.tel|default_if_none:""}}</td>
                    <td class='table_cell'>{{j.user.last_login|date:'Y-m-d H:i:s'}}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}

</div>

</div>
{% endblock %}
