{% extends "base.html" %}
{% load static %}

{% block script %}
<script src= "{% static 'scripts/scripts_event_attendee.js' %}"></script>
{% endblock %}

{% block content %}


    <div class="sub_nav">
      {% if manager_location or request.user.user_type == 1 %}
        <div class="sub_nav_item">
            <span><img src="{% static 'images/arrow.svg' %}" alt="Les Restos du Cœur"><a href="{% url 'event_edit' event_id=event.id %}">Modifier pour toutes les dates de l'évenement</a></span>
        </div>
        {% endif %}
        <div class="sub_nav_item">
            <span><img src="{% static 'images/arrow.svg' %}" alt="Les Restos du Cœur"><a id="event_attendees_list"></a>: {{count_attendees}} personnes</span>
        </div>
    </div>


<div class="event_details_master">

  <div class="event_details">

<div class="event_left">

  <div>
    <h2>{{ event.name }}</h2>
    <p>{{ event.description }}</p>
  </div>

  <div class="event_left_attendees">
    {% if attendees %}
    <form>
      {% csrf_token %}
      <button class="button_attendees" data-type="decline" type='submit' data-eventid="{{event.id}}" data-date="{{date}}">Annuler ma venue</button>
    </form>
    <form>
      <label for="plus_other">Venez vous avez d'autres personnes? Entrez le nombre de personnes vous accompagnant</label>
      <input type="number" id="plus_other" name="plus_other" value="{{attendees.plus_other}}"  min="0" data-eventid="{{event.id}}" data-date="{{date}}">
    </form>
    {% else %}
    <form>
      {% csrf_token %}
      <button class="button_attendees" data-type="attend" type='submit' data-eventid="{{event.id}}" data-date="{{date}}">Je suis dipo</button>
    </form>
    {% endif %}
  </div>

</div>

<div class="event_right">
  <div class="event_right_subitem">
    <div class="event_right_subitem_box">
    <i class="far fa-calendar-alt"></i><span class="name_event_right_subitem">DATE</span>
    <p>{{ date }}</p>
    </div>
  </div>

  <div class="event_right_subitem">
    <div class="event_right_subitem_box">
    <i class="far fa-clock"></i><span class="name_event_right_subitem">HEURE</span>
    <p>{{ event.time_from }} à {{ event.time_to }}</p>
    </div>
  </div>

  <div class="event_right_subitem">
    <div class="event_right_subitem_box">
    <i class="fas fa-map-marker-alt"></i><span class="name_event_right_subitem">LIEU</span>
    <p>{{ event.location }}</p>
    <p>{{ event.location.address_number }} - {{ event.location.address }} - {{ event.location.zipcode }} - {{ event.location.city }}</p>
    </div>
  </div>

  </div>

</div>
  </div>

<div class="event_attendees_list">
  {% for i in all_attendees%}
    <p>{{i.user}}
    {% if i.plus_other > 0%} --> Vient avec {{i.plus_other}} personnes</p>{% endif %}
  {% endfor %}
</div>



      {% if manager_location or request.user.user_type == 1 %}
    <div class="sub_nav">
        {% if event.is_recurring %}
        <div class="sub_nav_item">
            <span><img src="{% static 'images/arrow.svg' %}" alt="Les Restos du Cœur"><a href="{% url 'event_delete_rec' event_id=event.pk %}?date={{date}}">Annuler cette date</a></span>
        </div>
        <div class="sub_nav_item">
            <span><img src="{% static 'images/arrow.svg' %}" alt="Les Restos du Cœur"><a href="{% url 'event_delete_all' event_id=event.pk %}">Annuler toutes les dates</a></span>
        </div>
        {% else %}
        <div class="sub_nav_item">
            <span><img src="{% static 'images/arrow.svg' %}" alt="Les Restos du Cœur"><a href="{% url 'event_delete_all' event_id=event.pk %}">Annuler cette date</a></span>
        </div>
        {% endif %}
    </div>
        {% endif %}


{% endblock %}
