{% extends "base.html" %}
{% load static %}

{% block script %}
<script src= "{% static 'scripts/scripts_event.js' %}"></script>
{% endblock %}


{% block content%}

{% if is_edit%}
<h1>Modifier un event</h1>
{% else %}
<h1>Ajouter un event</h1>
{% endif %}

    <form  {% if is_edit%} action="{% url 'event_edit' event_id=event_id %}"
           {% else %} action="{% url 'event_create' %}"
           {% endif %}
           method='POST'>
        {% csrf_token %}
        <label>Nom de l'évenement</label>
        <p>{{ form.name }}</p>
        <label>Site de l'évenement</label>
        <p>{{ form.location }}</p>
        <label>Description</label>
        <p>{{ form.description }}</p>
        <label>Date de début</label>
        <p>{{ form.start_date }}</p>
        <label>Date de début</label>
        <p>{{ form.end_date }}</p>
        <label>Heure de fin</label>
        <p>{{ form.time_from }}</p>
        <label>Heure de fin</label>
        <p>{{ form.time_to }}</p>
        <label>Evenement durant toute la journée</label>
        <p>{{ form.is_full_day }}</p>
        <label>Evenement récurrent</label>
        <p>{{ form.is_recurring }}</p>

        <div id="recurring">
            {{ rec_form }}
        </div>


        <!--and is recurring-->
        {% if is_edit  %}
        <button id="button_display_confirm_buttons_choice" class='input'>Confirmer</button>

        <div id="confirm_buttons_choice">
            <input type='submit' id="confirm_solo" value="Modifier pour cet évenement seulement" class='input'/>
            <input type='submit' id="confirm_all" value="Modifier pour tous les évenements" class='input'/>
            <p>Attention, modifier pour tous les évenements peux causer des désagrements. En effet, si les dates sont modifiés, chaque évenement </p>
        </div>
        {% else %}
        <input type='submit' id="confirm" value="Confirmer" class='input'/>
        {% endif %}

    </form>



{% endblock %}