{% extends "base.html" %}
{% load static %}

{% block script %}
<script src= "{% static 'scripts/scripts_event.js' %}"></script>
{% endblock %}


{% block content%}

<div class="form_div_space">

<h1>Modifier "{{ form.name.value }}"</h1>

    <form action="{% url 'event_edit' event_id=event.pk %}" method='POST'>
        {% csrf_token %}

                <label>Nom de l'évenement</label>
        <p>{{ form.name }}</p>
        <label>Site de l'évenement</label>
        <p>{{ form.location }}</p>
        <label>Description</label>
        <p>{{ form.description }}</p>

        <div id="dates_event" data-original_start_date={{event.start_date|date:'Y-m-d'}}>
           <div class='flex_div_form'>
                <div class="sub_flex_div_form">
                    <label>Date de début</label>
                    <p>{{ form.start_date }}</p>
                </div>
                <div class="sub_flex_div_form">
                    <label>Date de fin</label>
                    <p>{{ form.end_date }}</p>
                </div>
            </div>
        </div>

        <div id="time_event">
                  <label>Evenement durant toute la journée</label>
                    {{ form.is_full_day }}
            <div class='flex_div_form' id="times_div">
                <div class="sub_flex_div_form">
                    <label>Heure de début</label>
                <p>{{ form.time_from }}</p>
                </div>
                 <div class="sub_flex_div_form">
                    <label>Heure de fin</label>
                    <p>{{ form.time_to }}</p>
                </div>
            </div>
        </div>



        <input type='submit' id="confirm" value="Confirmer" class='input_btn'/>

    </form>

   {% if event.was_recurring_event_rec %}
        <p class="info_text">Ceci est un événement provenant d'une récurrence mais modifié pour cette date specifiquement</p>
    {% elif not event.is_recurring %}
    <p class="info_text">Ceci est un événement non recurrent</p>
    {% endif %}

</div>

{% endblock %}