

<div>


{% csrf_token %}



      {% for i in events %}


    <div class="events_list_global">



      <div class="events_list_left">
<!--          <div class="vl"></div>-->
        <i class="far fa-dot-circle"></i><span class="events_list_date">{{i.0}}</span>
      </div>

      <div class="events_list_right">
          {% for key_1, value_1 in i.1.items %}
          {% for key_2, value_2 in value_1.items %}

          <div class="event_item">

          <div class="events_list_right_subitem">
            <h2><a href="{% url 'event_details' event_id=value_2.uuid %}?date={{i.0|date:'Y-m-d'}}">{{value_2.name}}</a></h2>
              <div class="events_list_right_subitem_flex">
                  <div class="events_list_right_subitem_flex_subitems">
                    <div class="events_list_details_time_location">
                        <i class="far fa-clock"></i><span>{{value_2.time_from}} à {{value_2.time_to}}</span>
                    </div>
                      <div class="events_list_details_time_location">
                          <i class="fas fa-map-marker-alt"></i><span><a href="{% url 'location_details' location_id=value_2.location.uuid %}">{{value_2.location.name}}</a></span>
                      </div>
                      <div class="events_list_details_time_location">
                          <i class="far fa-clock"></i><span id="attend_event_number_{{value_2.uuid}}{{i.0|date:'Y-m-d'}}" class="attend_event_number" data-eventid="{{value_2.uuid}}" data-date="{{i.0|date:'Y-m-d'}}"></span>
                      </div>
                  </div>
                  <div class="events_list_right_subitem_flex_subitems">
                      <p>{{value_2.description}}</p>
                  </div>
              </div>
          </div>

                {% if value_2.event_date_cancelled == 0 %}
                    {% now "Y-m-d" as todays_date %}
                    {% if todays_date <= i.0|date:'Y-m-d' %}
                    <form class="attendees" id="parent_{{value_2.uuid}}{{i.0|date:'Y-m-d'}}" data-eventid="{{value_2.uuid}}" data-date="{{i.0|date:'Y-m-d'}}">
                    </form>
                    {% endif %}
              {% else %}
              <div class="">
                  annulé
              </div>

              {% endif %}

          </div>

        {% endfor %}
        {% endfor %}
      </div>

    </div>
    {% endfor %}


</div>
