{% if request.user.user_type == 1 %}
<p>En tant qu'administrateur, vous pouvez gérer tous les événements, même ceux pour lesquels vous n'êtes pas directement associé au site</p>
{%else%}
<p>Voici tous les événements pour lesquels vous êtes directement associé au(x) site(s)</p>
{%endif %}

{% if events|length == 0 %}
    <p>Pas de résultat avec ces critères de recherche</p>
{% else %}


{% csrf_token %}

    {% for i in events %}
        <h4>{{i.0}}</h4>
            {% for j in i.1 %}
            <p><a href="{% url 'event_details' event_id=j.id %}">{{j}}</a> //
            <a href="{% url 'events_list_date'%}?from={% now 'Y-m-d' %}&to={{date_to}}&location={{j.location.pk}}">{{j.location}}</a></p>

            {%if j.location in pending_location%}
                a
                {% else %}
                <form class="attendees" id="parent_{{j.id}}{{i.0|date:'Y-m-d'}}" data-eventid="{{j.id}}" data-date="{{i.0|date:'Y-m-d'}}">
                </form>
                {% endif %}


            {% endfor %}
    {% endfor %}

{%endif %}