{% extends 'base.html' %}

{% block script %}
{% endblock %}

{% block content%}


<div class="container_master">
<div class="container_master_mobile">
<div class="form_div_space">
<div class="container_fluid">

  <details open>
    <summary>question 1</summary>
    <div class="faq__content">
        <p>reponse 1</p>
    </div>
  </details>

  <details>
    <summary>Question 2</summary>
    <div class="faq__content">
        <p>reponse 2</p>
    </div>
  </details>

    <details>
    <summary>Question 3</summary>
    <div class="faq__content">
        <p>reponse 3</p>
    </div>
  </details>


</div>
</div>
</div>
</div>

{% endblock %}
