{% extends 'base.html' %}
{% load static %}

{% block script %}
<script src= "{% static 'scripts/scripts_events_attendee.js' %}"></script>
<script src= "{% static 'scripts/index.js' %}"></script>
{% endblock %}


{% block content%}

<div class="top_bar_menu">

    {% if request.user.user_type != 2 %}
    <div class="sub_nav_hor" id="events_manager_menu">
        <i class="fas fa-calendar-alt"></i>Distributions à charge
    </div>
    {% endif %}

    <div class="sub_nav_hor active" id="events_14_days_menu">
        <i class="fas fa-user-check"></i>Présences
    </div>

    <div class="sub_nav_hor" id="messages_menu">
        <i class="fas fa-envelope"></i>Messages
    </div>


</div>

<div class="container_master_mobile">

    {% if request.user.user_type != 2 %}
    {% csrf_token %}
    <div id="events_manager">


        <p class="info_text">Aucune soirée de distribution à votre charge</p>

        <table class='table1'>
            <thead>
                <tr>
                    <th class='table_heading'>Date</th>
                    <th class='table_heading'>Nom</th>
                    <th class='table_heading'>Heure</th>
                    <th class='table_heading'>Bénévoles présents</th>
                    <th class='table_heading'>Annuler cette date</th>
                </tr>
            </thead>
            <tbody id="tbody_event_manager">
            {% for j in events_manager %}
            {% for z in j.1 %}

            {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}


        <div class="">
            <button id='button_event_manager_load' data-ideventsearch="{{request.user.pk}}" class="button_white">Voir plus</button>
        </div>

    </div>


<div id="events_14_days">

{% if pending_location %}
Vous avez au moins un site en attente de confirmation par le gestionnaire de site:
    {%for i in pending_location%}
    {{i}}
    {% endfor %}
{% endif %}


{% if events|length == 0 %}
    <p class="info_text">Aucune présence prévue pour vous dans les 14 prochains jours</p>
{% else %}

<h1>Vos présences des 14 prochains jours</h1>

{% include "events_loop.html" %}

{% endif %}

            <div class="">
                <a href="{% url 'events_list_date'%}?from={% now 'Y-m-d' %}&to={{date_to|date:'Y-m-d'}}" >
                    <button class="button_white">Voir plus de distributions</button>
                </a>
            </div>


</div>


<div id="messages">
    <p class="info_text">Aucun message</p>
</div>





</div>
{% endblock %}