{% extends 'base.html' %}

{% block content%}

<h1>Events</h1>
    {% for i in events %}
    <div>
        <a href="{% url 'event_details' event_id=i.id %}">{{i}}</a> // <span>{{ i.id }}</span>
    </div>
    {% endfor %}

<h3>New event</h3>
<a href="{% url 'event_create' %}">New Event</a>


<h1>Patterns</h1>
    {% for i in patterns %}
    <div>
       Event =  {{i.event}} //  {{i.id }} // {{i.separation_count }}
    </div>
    {% endfor %}


<h1>Sites</h1>
    {% for i in locations %}
    <div>
        <a href="{% url 'location_details' location_id=i.id %}">{{i}}</a>
    </div>
    {% endfor %}

<h3>creer new site</h3>
<a href="{% url 'location_create' %}">New site</a>

{% endblock %}