{% extends "base.html" %}
{% load static %}

{% block content %}

{% if manager_location or request.user.user_type == 1 %}

    <div class="sub_nav">
        <div class="sub_nav_item">
            <span><img src="{% static 'images/arrow.svg' %}" alt="Les Restos du Cœur"><a href="{% url 'location_edit' location_id=location.pk %}">Modifier le site</a></span>
        </div>
        <div class="sub_nav_item">
            <span><img src="{% static 'images/arrow.svg' %}" alt="Les Restos du Cœur"><a href="{% url 'users_site' location_id=location.pk %}">Voir les bénévoles du site</a></span>
        </div>
    </div>

{% endif %}

<div class="location_global">
    <div class="location_left">
        <h3>Nom</h3><p>{{ location.name }}</p>
        <h3>Address Number</h3><p>{{ location.address_number }}</p>
        <h3>Address</h3><p>{{ location.address }}</p>
        <h3>Address 2</h3><p>{{ location.address_2 }}</p>
        <h3>City</h3><p>{{ location.city }}</p>
        <h3>Zip Code</h3><p>{{ location.zipcode }}</p>
        <h3>Country</h3><p>{{ location.country }}</p>
        <h3>Manager</h3><p>{{ location.manager_location }}</p>
    </div>

    <div class="location_right">
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q={{location.address_number}}%20{{location.address}},%20{{location.city}}%20{{location.zipcode}}%20{{location.country}}&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                <a href="https://123movies-to.org"></a>
                <br>
                <style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style>
                <a href="https://www.embedgooglemap.net">google maps on websites</a>
                <style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style>
            </div>
        </div>
    </div>
</div>


{% endblock %}