{% extends "base.html" %}

{% block content%}


<div class="form_div_space">

    {% if is_edit %}
    <h1>Modifier "{{form.name.value}}"</h1>
    {% else %}
    <h1>Ajouter un site</h1>
    {% endif %}

    <form  {% if is_edit%} action="{% url 'location_edit' location_id=location_id %}"
           {% else %} action="{% url 'location_create' %}"
           {% endif %}
           method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value="Confirmer" class='input_btn'/>
    </form>
</div>

{% endblock %}