{% extends "base.html" %}
{% load static %}


{% block content %}


<div class="top_bar_menu">

    <div class="sub_nav_hor active">
        <i class="fas fa-map-marker-alt"></i>Sites actuels
    </div>

    {%if admin %}
    <a href="{% url 'location_create' %}">
        <div class="sub_nav_hor">
        <i class="fas fa-plus-circle"></i>Créer un site
        </div>
    </a>
    {% endif %}

</div>


<div class="container_master_mobile">

<table class='table1'>
            <thead>
                <tr>
                    <th class='table_heading'>Nom</th>
                    <th class='table_heading'>Adresse</th>
                    <th class='table_heading'>Ville</th>
                    <th class='table_heading'>Code postal</th>
                    <th class='table_heading'>Gestionnaire</th>
                    <th class='table_heading'>Voir sur la carte</th>
                </tr>
            </thead>
            <tbody>
            {% for j in all_locations%}
                <tr>
                    <td class='table_cell'><a href="{% url 'location_details' location_id=j.id %}">{{j.name|default_if_none:""}}</a></td>
                    <td class='table_cell'>{{j.address|default_if_none:""}}</td>
                    <td class='table_cell'>{{j.city}}</td>
                    <td class='table_cell'>{{j.zip_code}}</td>
                    <td class='table_cell'>{% for i in j.location_managers.all %}<p>{{i.first_name}} {{i.last_name}}</p>{% endfor %}</td>
                    <td class='table_cell'><a href="https://maps.google.com/maps?q={{j.address}},%20{{j.city}}%20{{j.zip_code}}%20{{j.country}}" target="_blank"><i class="fas fa-globe"></i></a></td>

                </tr>
            {% endfor %}
            </tbody>
        </table>


</div>
{% endblock %}