{% extends "base.html" %}
{% load static %}


{% block content %}

{%if admin %}
    <div class="sub_nav">
        <div class="sub_nav_item">
            <span><img src="{% static 'images/arrow.svg' %}" alt="Les Restos du Cœur"><a href="{% url 'location_create' %}">Créer un site</a></span>
        </div>
    </div>
{% endif %}

{% if request.user.user_type == 1 %}
<p>En tant qu'administrateur, vous pouvez gérer tous les sites, même ceux pour lesquels vous n'êtes pas directement associé au site</p>
{%else%}
<p>Voici tous les sites pour lesquels vous êtes le gestionnaire</p>
{%endif %}

{% for i in all_locations %}
    <div>
        <a href="{% url 'location_details' location_id=i.id %}">{{i}}</a> // <span>{{ i.id }}</span>
    </div>
    {% endfor %}

{% endblock %}