{% extends "base.html" %}
{%load static%}

{% block content %}
<h1>Votre profil</h1>
<p>{{request.user.username}}</p>
<p>{{request.user.email}}</p>
<p>{{request.user.first_name}}</p>
<p>{{request.user.last_name}}</p>

<p>Type d'utilisateur: {{request.user.get_user_type_display}}</p>

<h1>Vos sites</h1>

{% for i in locations%}
<p><a href="{% url 'events_list_date'%}?from={% now 'Y-m-d' %}&to={{date_to}}&location={{i.pk}}">{{i}}</a></p>
{%endfor%}

    <div class="sub_nav">
        <div class="sub_nav_item">
            <span><img src="{% static 'images/arrow.svg' %}" alt="Les Restos du Cœur"><a href="{% url 'select_locations' %}">Modifier vos sites</a></span>
        </div>
    </div>

{% endblock %}