{% extends "base.html" %}
{%load static%}

{% block content %}
<div class="form_div_space">

    <h1>Modifier votre profil</h1>
    {% if request.user.profile_picture %}
    <img src="{{request.user.profile_picture.url}}">
    {% endif %}
    <p><label for="id_username">Nom d'utilisateur&nbsp;:</label> <p id="id_username">{{request.user.username}}</p>
    <form method="POST" action=" {% url 'profile_edit' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' id="confirm" value="Confirmer" class='input_btn'/>
    </form>

</div>
{% endblock %}