{% extends "base.html" %}
{% load static %}

{% block script %}
<script src= "{% static 'scripts/select_locations.js' %}"></script>
{% endblock %}

{% block content %}

<div class="top_bar_menu">

    <a href="{% url 'profile' %}">
        <div class="sub_nav_hor">
        <i class="fas fa-ban"></i>Annuler
    </div>
    </a>

</div>

<div class="container_master_mobile">


<h3>Sélectionner les distributions pour lesquelles vous souhaitez être bénevole</h3>


<form action="{% url 'select_locations' %}" method="POST">
    {% csrf_token %}
    {{ request.user.id|json_script:"us" }}
    <table class='table1'>
            <thead>
                <tr>
                    <th class='table_heading'>Votre séléction</th>
                    <th class='table_heading'>Nom</th>
                    <th class='table_heading'>Adresse</th>
                    <th class='table_heading'>Ville</th>
                    <th class='table_heading'>Code postal</th>
                    <th class='table_heading'>Gestionnaire</th>
                    <th class='table_heading'>Voir sur la carte</th>
                </tr>
            </thead>
            <tbody>
            {% for j in all_locations%}
                <tr>
                    <td class='table_cell'>
                        <a class="locations_checkbox" id="{{ j.pk }}" name="{{ j }}" data-loc="{{ j.pk }}" data-state="closed"><i class="fas fa-chevron-down"></i></a>
                    </td>
                    <td class='table_cell'><a class="locations_name" data-state="closed" data-loc="{{ j.pk }}">{{j.name|default_if_none:""}}</a></td>
                    <td class='table_cell'>{{j.address|default_if_none:""}}</td>
                    <td class='table_cell'>{{j.city}}</td>
                    <td class='table_cell'>{{j.zip_code}}</td>
                    <td class='table_cell'>{% for z in j.location_managers.all %}{{z.first_name}} {{z.last_name}}{% endfor %}</td>
                    <td class='table_cell'><a href="https://maps.google.com/maps?q={{j.address}},%20{{j.city}}%20{{j.zip_code}}%20{{j.country}}" target="_blank"><i class="fas fa-globe"></i></a></td>
                </tr>
                <tr class="tr_td_row" data-loc="{{j.pk}}">
                    <td class="td_row" colspan="7">

                        {% for i in event_form_locations %}
                            {% if i.location.pk == j.pk %}
                                <p><input class="distrib_checkbox" type="checkbox" id="{{ i.pk }}" name="distrib" value="{{ i.pk }}" data-distrib_us="{{ i.event_manager.pk }}">{{ i.name }} de {{ i.time_from}} à {{ i.time_to }}<i data-distrib_us="{{ i.event_manager.pk }}" class="fas fa-info-circle info_icon" title="Vous ne pourrez pas enlever une distribution pour lequel vous en êtes le responsable"></i></p>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>

    <p class="info_text">Chaque responsable de distributions séléctionnées devra confimer votre choix</p>

    <input type='submit' value="Confirmer" class='input_btn'/>
</form>


</div>

{% endblock %}