{% extends "base.html" %}

{% block content %}

<h1>Sélectionner le/les sites pour lesquels vous souhaitez être bénevole</h1>


<form action="{% url 'select_locations' %}" method="POST">
    {% csrf_token %}
    <label>Les sites disponibles</label>
    {{form.locations}}
    <input type='submit' value="Confirmer" class='input_btn'/>
</form>

<div class="info_text">Chaque responsable de site sélectionné devra confimer votre choix. Vous ne pourrez pas vous inscrire à des evenements tant que non validé par le responsable de site.</div>

{% endblock %}