{% load i18n %}{% autoescape off %}
{% blocktrans %}Bonjour,
Vous recevez ce message car vous avez demandé une réinitialisation du mot de passe pour votre compte sur {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
Voici votre nom d'utilisateur: {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}L'équipe de {{ site_name }}{% endblocktrans %}

{% endautoescape %}