@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/* GLOBAL */
:root {
	--pink: #e5007d;
	--pink-btn: #e64883;
  --light_pink: #fcebf1;
  --orange: #f7a823;
  --light_grey: #f7f7f7;
  --dark_grey: #999999;
	--near_black: #444444;
}

body {
  font-family: 'Montserrat',Arial,Helvetica,sans-serif;
  margin: 0;
  color: #222;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:visited, a:active, a{
  color: inherit;
}

a:hover{
  color: var(--pink);
}

.container_master{
  margin: 3% 5%;
}

button, .input_btn {
	background-color: var(--pink-btn);
	border:none;
	outline: none;
	color: #fff;
	height: 30px;
	width: 200px;
}

button:hover, .input_btn:hover {
	background-color: var(--near_black);
	cursor: pointer;
}


.info_text {
	color: var(--dark_grey);
	text-align: center;
	font-size: 14;
	padding: 1% 0;
}



/* NAVIGATION */
nav{
  position: relative;
  top:0;
  left: 0;
  height: auto;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav img {
  width: 10rem;
}

nav::before {
	z-index: -1;
	content: "";
	position: absolute;
	top: calc(50% - .9375rem);
	left: 0;
	width: 100%;
	height: 1.875rem;
	background-color: var(--orange);
}

.items_nav {
margin: 0 5%;
}

.item_nav {
  margin: 0% 10px;
  display: inline;
}

nav a {
  color: white;
  text-decoration: underline;
}


.sub_nav{
  margin: 2% 0 5% 0;
}

.sub_nav_item{
  display:inline;
  margin-right: 20px;
}

.sub_nav_item img{
  width: 2rem;
  vertical-align: middle;
  margin: 0 5px 0 0;
}


/* EVENTS */

.event_details {
  width: 70%;
  margin: 0 auto;
}

.event_left{
  float: left;
  position: relative;
  min-height: 350px;
}

.event_left_attendees{
    position: absolute;
    bottom:0;
    left: 0;
}

.event_right{
  width: 33.33%;
  float: right;
	border: 1px solid var(--light_grey);
	padding: 25px;
}

.event_right_subitem{
	padding: 12px 14px 8px;
  margin-bottom: 12px;
  background-color: var(--light_grey);
	position: relative;
}

.event_right_subitem i {
  color: var(--pink);
}

.event_right_subitem p {
  color: var(--dark_grey);
	padding-left: 10%;
}

.name_event_right_subitem {
  margin-left: 10px;
  font-weight: 600;
}

.event_right_subitem_box {
  padding-top: 3%;
  padding-left: 3%;
}


.button_attendees {
	background-color: #fff;
	border:1px solid var(--pink-btn);
	outline: none;
	color: var(--pink-btn);
}

.button_attendees:hover {
	background-color: var(--pink-btn);
	border: #fff
	outline: none;
	color:#fff;
}



/* EVENTS SEARCHES/INDEX */

.events_list_global {
  width: 70%;
  margin: 0 auto;
  height: 300px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.events_list_left{
	padding: 1% 0 0 1%;
  float: left;
	width: 20%;
	position: relative;
}

.events_list_left i {
	color: var(--pink);
}

.vl {
  border-left: 1px solid var(--light_pink);
  height: 300px;
  position: absolute;
  left: 9%;
  top: 20px;
	z-index: -1;
}


.events_list_right {
  width: 75%;
  float: right;
	border: 1px solid var(--light_grey);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	border-radius: 15px;
}

.events_list_right_subitem{
	padding: 1% 0 0 3%;
}

.events_list_right button {
		width: 100%;
		border-radius: 0 0 15px 15px;
		height: 40px;
		font-weight: 600;
}

.button_inversed {
		color: var(--pink-btn);
		background-color: #fff;
		border: 1px solid #fff;
}

.button_inversed:hover {
		color: var(--near_black);
		background-color: #fff;
		border: 1px solid #fff;
}


.events_list_date {
  color: var(--pink);
	margin-left: 10px;
}

.events_list_details_time_location{
  background-color: var(--light_pink);
  color:var(--pink);
  width: 200px;
  padding: 1%;
  margin: 1% 0;
  border-radius: 20px;
  margin-bottom: 20px;
}

.events_list_details_time_location span {
  padding: 2% 2% 2% 4%;

}
