/* GLOBAL */
:root {
	--pink: #e5007d;
  --orange: #f7a823;
  --light_grey: #f7f7f7;
  --dark_grey: #999999;
}

body {
  font-family: Arial,Helvetica,sans-serif;
  margin: 0;
  color: #222;
}


a {
  cursor: pointer;
  text-decoration: none;
}

a:visited, a:active, a{
  color: inherit;
}

a:hover{
  color: var(--pink);
}

.container_master{
  margin: 3% 5%;
}



/* NAVIGATION */
nav{
  position: relative;
  top:0;
  left: 0;
  height: auto;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav img {
  width: 10rem;
}

nav::before {
	z-index: -1;
	content: "";
	position: absolute;
	top: calc(50% - .9375rem);
	left: 0;
	width: 100%;
	height: 1.875rem;
	background-color: var(--orange);
}

.items_nav {
margin: 0 5%;
}

.item_nav {
  margin: 0% 10px;
  display: inline;
}

nav a {
  color: white;
  text-decoration: underline;
}


.sub_nav{
  margin: 2% 0 5% 0;
}

.sub_nav_item{
  display:inline;
  margin-right: 20px;
}

.sub_nav_item img{
  width: 2rem;
  vertical-align: middle;
  margin: 0 5px 0 0;
}


/* EVENTS */

.event_details {
  width: 70%;
  margin: 0 auto;
}

.event_left{
  width: 75%;
  float: left;
  position: relative;
  min-height: 350px;
}

.event_left_attendees{
    position: absolute;
    bottom:0;
    left: 0;
}

.event_right{
  width: 25%;
  float: right;
}
.event_right_subitem{
  padding: 2%;
  margin-bottom: 10px;
  height: 100px;
  background-color: var(--light_grey);
}

.event_right_subitem i {
  color: var(--pink);
}

.event_right_subitem p {
  color: var(--dark_grey);
}

.name_event_right_subitem {
  margin-left: 10px;
  font-weight: bold;
}

.event_right_subitem_box {
  padding-top: 3%;
  padding-left: 3%;
}
